    html {
        background-color: #f1f5f9;
        font-family:sans-serif;
    }
    
    body {
        margin: 0 auto;
        width: 100%;
        max-width: 150ch;
        padding: 1rem;
        line-height:1.5;
    }

    .box {
        display: flex;
        flex:auto;
        flex-direction: column;
        gap: 2px;
    }

    .card {
        border-style: groove;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 8px;
        transition: 0.3s;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
    }

    .full-width {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .third-width {
        display: flex;
        flex-wrap: wrap;
        width: 33%;
    }

    .copyright {
        display: flex;
        flex-wrap: wrap;
        font-size:small;
        font-weight: bold;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .tag {
        border-style: outset;
        border-color: #5791bb;
        border-radius: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-variant: small-caps;
        padding: 10px;       
    }

    .tag:hover {
        box-shadow: 0 8px 8px 0 #5791bb;
        background-color: rgba(154,217,239,0.5);
        font-weight: bold;
    }