---
---
<div id="footer">
    <section id="ruled-line" class="full-width">
        <hr class="full-width"/>
    </section>
    <section id="links-bar" class="full-width">
        <div id="social-links" class="third-width">
            <p>Socials:</p>
        </div>
        <div id="sitemap" class="third-width">
            <p>Site Links:</p>
        </div>
        <div id="site-info" class="third-width">
            <p>Info:</p>
        </div>
    </section>
    <section id="copyright-bar" class="full-width">
        <hr class="full-width"/>
        <p class="copyright full-width">Copyright (c)2025 Robert Molinaro. All Rights Reserved.</p>
    </section>
</div>