---
const homeTitle = "Home";
const aboutTitle = "About"
---
<div class="tags">
    <a class="tag" href="/">Home</a>
    <a class="tag" href="/about">About</a>
</div>

<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>
