---
---
<div class="card">
    <h3>
        Serco DES &#8212; <i>Customer Service Agent</i>
    </h3>
    <ul>
        <li>Guided customers through complicated licensing procedures with professionalism and accuracy.</li>
        <li>Handled confidential documentation and appointment scheduling with attention to privacy standards and regulations.</li>
        <li>Maintained a high-volume client-flow while maintaining service quality standards and compliance.</li>
    </ul>
    <h3>
        Prima Construction Ltd &#8212; <i>Administrative Assistant</i>
    </h3>
    <ul>
        <li>Maintained and organized records, supported documentation and tracking for ongoing projects.</li>
        <li>Coordinated daily operations, appointments, and office communications.</li>
        <li>Prepared reports and maintained accurate records.</li>
    </ul>
    <h3>
        GoodLife Fitness &#8212; <i>Personal Trainer</i>
    </h3>
    <ul>
        <li>Operated as as independent professional within a team setting, ensuring completion of team and individual goals.</li>
        <li>Demonstrated strong sales ability by converting prospects into long-term clients.</li>
        <li>Built, managed, and maintained strong client relationships.</li>
    </ul>
</div>