---
import ResumeNav from "./ResumeNav.astro";
---
<div id="resume-hero" class="box"> 
    <h1>Robert Molinaro</h1>
    <h2>Aspiring Real Estate Professional</h2>
    <ResumeNav />
</div>

<style>
    .box h1 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-variant: small-caps;
    }

    .box h2 {
        text-align:center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-variant: small-caps;
    }
</style>