---
---
<div class="card"> 
    <div class="full-width">
        <div class="half-width">
            <h3>
                Skills:
            </h3>
            <ul>
                <li>Salesforce CRM</li>
                <li>Microsoft Office</li>
                <li>GSuite</li>
                <li>Sales</li>
                <li>Test</li>
                <li>Extra stuff</li>
                <li>Place Holder</li>
            </ul>
        </div>
        <div class="half-width">
            <h3>
                Certifications:
            </h3>
            <ul>
                <li>Salesforce Administrator, Salesforce App Builder, Salesforce Platform Developer</li>
                <li>Humber College Real Estate Salesperson</li>
                <li>Placeholder</li>
                <li>Another placeholder</li>
                <li>Yet one more</li>
                <li>List my certs here plz.</li>
                <li>Piss and vinegar</li>
                <li>Salt and pepper</li>
                <li>Salesforce Wow.</li>
            </ul>
        </div>
    </div>
</div>